<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{cssPropio/archivo.css}" rel="stylesheet" />
	<title>ECOMERSE BIENVENIDA</title>
</head>

<body>
	<div class="container">

		Id producto: <span th:text="${producto.idProducto}"></span><br>
		Nombre: <span th:text="${producto.nombre}"></span><br>
		Precio: <span th:text="${producto.precio}"></span><br>
		Imagen: <img th:src="${producto.imagen}" width="20px" height="20px"><br>
		Descripcion: <span th:text="${producto.descripcion}"></span><br>
		Categoria: <span th:text="${producto.categoria}"></span><br>
		
		<a href="@{/producto.idProducto} + ${/carrito}"><button>Añadir al carrito</button></a>
	</div>
</body>

</html>