<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
<!--	<link th:href="@{/cssPropio/archivo.css}" rel="stylesheet" /> -->
	<title>ECOMERSE BIENVENIDA</title>
</head>

<body>
	
	<!-- incluir la misma nav bar que en principal -->
	<div class="container">

		Id producto: <span th:text="${producto.idProducto}"></span><br>
		Nombre: <span th:text="${producto.nombre}"></span><br>
		Precio: <span th:text="${producto.precio}"></span><br>
		Imagen: <img th:src="${producto.imagen}" width="20px" height="20px"><br>
		Descripcion: <span th:text="${producto.descripcion}"></span><br>
		Categoria: <span th:text="${producto.categoria}"></span><br>
		
		<a th:href="@{/producto.idProducto} + @{/carrito}"><button>Añadir al carrito</button></a>
		
	<!-- REVISAR -->	<a th:href="@{/productos}"><button th:text="Volver"/></a> 
		
	</div>
</body>

</html>