<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{cssPropio/archivo.css}" rel="stylesheet" />
	<title>Carrito</title>
</head>

<body>
	<div class="container">
		<!-- BARRA NAVEGACION-->
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/productos">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/carrito">Carrito</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid">
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
			<div class="container-fluid">
				<form class="d-flex" role="search">
					<label class="form-control me-2" placeholder="Log in" aria-label="Log in" />
					<button class="btn" type="submit">Login</button>
				</form>
			</div>
		</nav>
		<div>
			
			<th:block th:if="${#lists.isEmpty(carrito.itemsCarrito)}">
				<h1 style="text-align: center;">THERE ARE NO ITEMS IN THE BAG YET</h1>
			</th:block>
			<table>
				<tbody>
					<tr th:each="item : ${carrito.itemsCarrito}">
						<td th:text="${item.nombre}"></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</body>

</html>